# The IRC-Server and port to connect to
Server=chat.freenode.net
Port=
# The nickname and password, if the botnick is registeres with nickserv
Nick=IAmImpatient
NickPass=
# The parse.com credentials if the voice module is being used
ParseApplicationID=
ParseRESTAPIKey=
# login part of hostmask, eg nick!login@host
Login=
# The password for the irc server. Only fill if needed
ServerPass=
# The password used to issue commands to the bot via jetty
# This Option is likely to be removed in the future. For now, it's mandatory
OpPass=
# A comma seperated list of channels the bot will join
ChannelList=#schwarz
# Int BanTime: Time in minutes a user who can't answer the grammar question will be banned
BanTime=10
# Int AnswerTime: Time in minutes a user gets to answer a grammar question
AnswerTime=2
# boolead AutoNickChange: Shall the Bot change it's nick if nickserv rejects it?
AutoNickChange=true
# String Encoding: Which encoding is used to communicate with the IRC Server?
Encoding=UTF-8
# boolean Verbose: Should debug loggin be enabled?
Verbose=true
# Should the GrammarCheck be used at all?
GrammarCheckActive=true
# Int GrammarFloodLimit: If a user exceeds this limit while on grammar trial,
# the channel will be muted
GrammarFloodLimit=3
# Int GrammarFloodTime: Time the channel will be muted if GrammarFloodLimit kicks in
GrammarFloodTime=20
# Boolean UseGrammarFloodLimit
UseGrammarFloodLimit=true
# Boolean KillGhost: If our nick is changed, try to kill ghost an regain nick
# Be careful with this option, do not turn on unless you understand what it does!
KillGhost=false
# This section holds the MySQL access data. It is mandatory.
MySQLHost=
MySQLPort=
MySQLDB=
MySQLUser=
MySQLPass=