
# Syntax: Wrong sendence--Correct sentence
# The # Sign at the beginning of a line means the line is a comment.
# -- seperates the faulty from the correct sentence
# The encoding of the file is ANSI

It is better to offer no excuse then a bad one.--It is better to offer no excuse than a bad one.